.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .param {
    display: flex;
    gap: 0.5rem;

    label {
      min-width: 150px;
      text-align: center;
      font-size: 1.25rem;
    }

    input {
      font-size: 1rem;
    }
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
